.section {
  min-height: 200vh; /* Increased height to allow scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  text-align: center;
  position: relative;
  transition: all 0.8s;
}

.sectionAnimationCompleted {
  min-height: 100vh;
}

.title {
  font-size: 42px;
  font-weight: bold;
  transition: all 0.8s;
  max-width: 800px;
  margin: 0 auto;
  transform: scale(0.7);
  opacity: 0.2;
}
.titleShown {
  margin-bottom: 20px;
  transform: scale(1);
  opacity: 1;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: #bfaddc;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraphShown {
  margin-bottom: 20px;
}

.bottomUpAnimationHidden {
  max-height: 0;
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, all 0.8s ease-in-out;
}

.bottomUpAnimationShow {
  max-height: 1000px;
  transform: translateY(0);
  opacity: 1;
}

.animatedImage {

}

.extra {
  min-height: 100vh;
  width: 100%;
}