.section {
  height: 200vh; /* Increased height to allow scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  text-align: center;
  position: relative;
}

.title {
  font-size: 42px;
  font-weight: bold;
  transition: all 0.8s;
  max-width: 800px;
  margin: 0 auto;
  transform: scale(0.6);
  opacity: 0.4;
}
.titleShown {
  margin-bottom: 20px;
  transform: scale(1);
  opacity: 1;
}

.container {
  height: 100vh;
  width: 100%;
  background: #bfaddc;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.paragraph {
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.paragraphShown {
  transform: translateY(0);
  opacity: 1;
}

.extra {
  height: 100vh;
  width: 100%;
  background: #1d7399;
  z-index: 1;
  opacity: 0.5;
}